DB/mongo_data

DB/product_postgres_data
DB/user_postgres_data

frontend/node_modules
frontend/package-lock.json

service/order-service/node_modules
service/order-service/package-lock.json

service/product-service/node_modules
service/product-service/package-lock.json
service/product-service/prisma/migrations



service/user-service/node_modules
service/user-service/package-lock.json
service/user-service/prisma/migrations


